.container {
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
}

#welcome-page {
    display: block;
}

.button {
    display: grid;
}
/* 
#quiz-questions {
    display: none;
} */